.topnav {
    overflow: hidden;
    text-decoration: none;
}

section {
    padding: 20px;
    width: 50%;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
 }

 .center {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 300px;  
  }

  #gosearch, #lucky {
      border-radius: 16px;
      margin: 7px;
  }
#searchbar {
    width: 20vw;
    border-radius: 16px;
    height: 4vh;
    display: flex;
    align-items: center;
}